# /* Adding Big Shoulders to your web project
# 
# 1: put your WOFF and WOFF2 files into a folder called “type” at the top level of your domain’s web-visible folder
# 
# 2: add the following code to the top of your CSS, deleting notes if you want */


	@font-face {
		font-family: 'bigshoulders-sb';
		src: url('/type/BigShoulders-SemiBold.woff') format('woff');
		src: url('/type/BigShoulders-SemiBold.woff2') format('woff2');
		font-weight: 600;
		font-weight: normal;
		font-style: normal;
		}
		
	@font-face {
		font-family: 'bigshoulders-xb';
		src: url('type/BigShoulders-ExtraBold.woff') format('woff');
		src: url('type/BigShoulders-ExtraBold.woff2') format('woff2');
		font-weight: 800;
		font-weight: normal;
		font-style: normal;
		font-kerning: normal;
		}

/* this rule gives Big Shoulders shorter names in your CSS. */

	.bs-sb {
		font-family: 'bigshoulders-sb';
		font-kerning: normal;
		font-variant-ligatures: common-ligatures;
		font-variant-ligatures: discretionary-ligatures;
	}
	
	.bs-xb {
		font-family: 'bigshoulders-xb';
		font-kerning: normal;
		font-variant-ligatures: common-ligatures;
		font-variant-ligatures: discretionary-ligatures;
	}
	
# /* this rule makes your html typography all-caps. to use it, you’d call a CSS element .bs-sb caps */

	.caps {
		text-transform: uppercase;
	}

# /* this rule makes your html typography small caps. to use it, you’d call a CSS element .bs-sb caps */

	.smcp {
		font-variant-caps: all-small-caps;
	}
	
# /* this rule makes your html use case-sensitive punctuation, so things like @ and the upside down question mark are aligned with all-caps and small-caps typography. to use it, you’d call a CSS element .bs-sb case, which can also be added to caps and smcp,like .bs-sb smcp case */


	.case {
		font-feature-settings: "case" on;
	}